{
  "port": 8430,
  "downloadFolder": "files",
  "env": "dev",
  "restaurantId": "",
  "menuFile": {
    "name": "menu.csv",
    "downloadUrl": "http://example.com/menu.csv"
  },
  "aws": {
    "accessKeyId": "",
    "secretAccessKey": "",
    "region": "",
    "accountId": ""
  }
}
